<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 开启shiro注解支持。shiro和cas的整合项目。 -->
	<bean
		class=" org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<!-- 缓存 在spring-context配置文件中，还有一个是需要配置-cacheManager,因为shiro的session是自己实现的，所以我们还需要一个缓存框架，所以在spring的配置文件一定要注意配置哦，用的是ehcache -->
	<!-- Shiro权限过滤过滤器定义 -->
	<bean name="shiroFilterChainDefinitions" class="java.lang.String">
		<constructor-arg>
			<value>
			    /data/**=anon
			    /pages/login.html=anon
			    /index.html=anon
			    /swagger-ui.html=anon
			    /jqueryui/**=anon
			    /jquery/**=anon
			    /fonts/**=anon
			    /bootstrap/**=anon
			    /vendor/**=anon
			    /font/**=anon
			    /pages/errors.html=anon
			    /common/**=anon
				/dist/**=anon
				/theme/**=anon
				/user/login=anon
				/static/**=anon
				/pages/blank.html=anon
				/user/logout=logout
				/pages/forms.html=perms[user:deleteUser]
				/pages/buttons.html=roles[sa]
				/pages/tables.html=roles[sa]
				/pages/**=user
				/**=anon
			</value>
		</constructor-arg>
	</bean>

	<bean id="userRealm" class="com.gsafety.shiro.realms.UserRealm" >
	</bean>
	
	<!-- 数据库保存的密码是使用MD5算法加密的，所以这里需要配置一个密码匹配对象 -->  
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher"></bean>  
	<!-- 安全认证过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- loginUrl登录页面，successUrl登录成功的页面 -->
		<property name="loginUrl" value="/pages/login.html" />
		<!-- 成功页面在集成cas的时候，要去掉，否则一直在重定向。但是在单独使用shiro的时候要保留。 -->
		<property name="successUrl" value="index.html" />
		<!-- unauthorizedUrl，系统未认证时跳转的页面 -->
		<property name="unauthorizedUrl" value="/pages/blank.html" />
		<property name="filters">
			<map>
				<!-- 匿名的校验 -->
				<entry key="anon" value-ref="myAnonFilter" />
				<!-- 匿名的校验 -->
			    <entry key="authc" value-ref="myAuthcFilter" /> 
				<!-- 用户的校验 -->
				<entry key="user" value-ref="myUserFilter" />
				<!-- 权限校验 -->
				<entry key="perms" value-ref="myPermsFilter" />
				<!-- 橘色校验 -->
				<entry key="roles" value-ref="myRolesFilter" />
			</map>
		</property>
		<property name="filterChainDefinitions">
			<ref bean="shiroFilterChainDefinitions" />
		</property>
	</bean>

	<!-- 登录验证过滤器 -->
	<bean id="myAuthcFilter" class="com.gsafety.shiro.filter.MyFormAuthenticationFilter">
		<!-- 配置登录页面 -->
	</bean>
	<!-- 可以进行自定义 引入匿名对象 -->

	<bean id="myAnonFilter" class="org.apache.shiro.web.filter.authc.AnonymousFilter" />
	<bean id="myPermsFilter"
		class="org.apache.shiro.web.filter.authz.PermissionsAuthorizationFilter" />
	<bean id="myUserFilter" class="org.apache.shiro.web.filter.authc.UserFilter" />
	<bean id="myRolesFilter"
		class="org.apache.shiro.web.filter.authz.RolesAuthorizationFilter" />
	<bean id="mylogoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter" />
	<!-- 定义Shiro安全管理配置 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 1、shiro自己的数据库认证。否则走cas-server的认证 -->
		<property name="realm" ref="userRealm" />
	</bean>



	   <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
	
	
	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>