<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans.xsd  
http://www.springframework.org/schema/context   
http://www.springframework.org/schema/context/spring-context.xsd  
http://www.springframework.org/schema/aop   
http://www.springframework.org/schema/aop/spring-aop.xsd  
http://www.springframework.org/schema/tx   
http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 缓存 在spring-context配置文件中，还有一个是需要配置-cacheManager,因为shiro的session是自己实现的，所以我们还需要一个缓存框架，所以在spring的配置文件一定要注意配置哦，用的是ehcache -->
	<!-- Shiro权限过滤过滤器定义 -->
	<bean name="shiroFilterChainDefinitions" class="java.lang.String">
		<constructor-arg>
			<value>
			<!--     /shiro-cas =casFilter -->
			    /user/logout = logout
				/index.html = anon
			    /pages/login.html =anon
				/static/** = anon
				/pages/blank.html =anon
				/pages/** = authc
				/user/login =authc 
				/logout = logout
				/** =anon
			</value>
		</constructor-arg>
	</bean>

	<bean id="userRealm" class="com.gsafety.shiro.realms.UserRealm" />
	<!-- 安全认证过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- loginUrl登录页面，successUrl登录成功的页面 -->
		<property name="loginUrl" value="/pages/login.html" />
		<property name="successUrl" value="/pages/index.html" />
		<!-- unauthorizedUrl，系统未认证时跳转的页面 -->
		<property name="unauthorizedUrl" value="/pages/blank.html" />

		<property name="filters">
			<map>
				<!-- 是否启用验证码检验 -->
				<entry key="cas" value-ref="casFilter" /> 
				<!-- 匿名的校验 -->
				<entry key="anon" value-ref="myAnonFilter" />
				<!-- 匿名的校验 -->
				<entry key="authc" value-ref="myAuthcFilter" />
				<!-- 登出的校验 -->
				<entry key="logout" value-ref="logout" />

				<!-- 用户的校验 -->
				<entry key="user" value-ref="myUserFilter" />

			</map>
		</property>
		<property name="filterChainDefinitions">
			<ref bean="shiroFilterChainDefinitions" />
		</property>
	</bean>


	<!-- 登录验证过滤器 -->
	<bean id="myAuthcFilter"
		class="com.gsafety.shiro.filter.MyFormAuthenticationFilter" >
		<!-- 配置登录页面 -->
		<property name="loginUrl" value="/pages/login.html"/>
	</bean>
	<!-- 可以进行自定义 引入匿名对象 -->

	<bean id="myAnonFilter" class="org.apache.shiro.web.filter.authc.AnonymousFilter" />


	<bean id="myUserFilter" class="org.apache.shiro.web.filter.authc.UserFilter" />

	<bean id="mylogoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter" />
	<!-- 定义Shiro安全管理配置 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
	</bean>
	<!-- shiro-cas登录过滤器 -->
	<bean id="casFilter" class="org.apache.shiro.cas.CasFilter"><!-- 配置验证错误时的失败页面 ，这里配置为登录页面 -->
		<property name="failureUrl"
			value="http://localhost:8080/cas/login?service=http://localhost:8180/springmvcweb" />
	</bean>
		
	<!-- 退出登录过滤器 -->
	<bean id="logout" class="org.apache.shiro.web.filter.authc.LogoutFilter">
		<property name="redirectUrl"
			value="http://localhost:8080/cas/logout?service=http://localhost:8180/springmvcweb/index.html" />
	</bean>
	
	
	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>