<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 1、<context:component-scan base-package="cn.edu.dao" /> 表明cn.gacl.java包及其子包中，如果某个类的头上带有特定的注解 
		@Component，@Repository，@Service，@Controller，就会将这个对象作为Bean注册进spring容器。 2、在<context:component-scan 
		base-package=” ” /> 中指定多个包：<context:component-scan base-package="cn.edu.dao.impl,cn.edu.service.impl,cn.edu.action" 
		/> 多个包逗号隔开。 -->
	<!-- 配置<context:component-sacn base-package="xxxx">后，spring就会自动扫描注解。扫描指定包下所有内容。 -->
	<context:component-scan
		base-package="com.gsafety.**.service.**,com.gsafety.**.dao.**">
	</context:component-scan>
</beans>