<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<!--输出到控制台 -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</layout>
	</appender>

	<!--输出到文件（info） -->
	<!--将生成“info.log.2014-06-11”这样的日志文件 -->
	<appender name="fileAppenderInfo" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/springmvc/info.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<!--输出到文件（warn） -->
	<appender name="fileAppenderWarn" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/springmvc/warn.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<!--输出到文件（error） -->
	<appender name="fileAppenderError" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/springmvc/error.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!--屏蔽所有org.springframework.*输出的Debug（及以下）信息 -->
	<logger name="org.springframework">
		<level value="INFO"></level>
	</logger>
	
		<!--输出到文件（warn） -->
	<appender name="xmlfileAppenderWarn" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${user.home}/logs/springmvc/xmlfileAppenderWarn.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>
	
	 <!--将各个包中的类日志输出到不同的日志文件中  这样可以便于日志的分类,可以通过这个设置，把业务逻辑的日志添加到数据库。起到过滤的作用
    -->
    <!--这段配置的就是说把包名为“com.gsafety.controller”且优先级为debug的日志通过xmlfileAppenderWarn这个appender来处理。
    -->	
	
	<category name="com.gsafety.controller"
		additivity="false">
		<priority value="ERROR" />
		<appender-ref ref="xmlfileAppenderWarn" />
	</category>
<!-- 在类中可以根据logger的name值，获得loggger以及其输出的位置。 -->
	<logger name="userBehavior">
		<level value="ERROR" />
		<appender-ref ref="xmlfileAppenderWarn" />

	</logger>

	<!--增加结束 -->
	<root>
		<level value="ALL" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppenderInfo" />
		<appender-ref ref="fileAppenderWarn" />
		<appender-ref ref="fileAppenderError" />
	</root>
</log4j:configuration>